@import url('https://fonts.googleapis.com/css?family=Comfortaa|Karla&display=swap');

:root {
  --primary-color: #e31b6d;
  --secondary-color: #04c2c9;
  --bg-dark: #1b242f;
}

*, *::before, *::after { box-sizing: border-box; }
html {
  /* WCAG Level AA 1.4.12 states that users must be able
  to override the following 4 CSS properties to at least the
  values set below. I went ahead and just designed the site to
  these values because I find it helps me read it as well */
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.12rem;
  word-spacing: .16rem;

  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 2rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

article {
  margin: 1rem 0 2rem 0;
  color:rgb(62, 60, 60);
}

button {
  margin: 0.5rem;
  width: 15rem;
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 0.75rem;
  box-shadow: 4px 2px 2px lightgray;
  background-color: white;
}

 button a {
  color: var(--primary-color)
 }

.skip-link {
  left: -100%;
  position: absolute;
}

.skip-link:focus {
  left: 50%;
  top: 0rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.name-container {
  margin-bottom: 1rem;;
}

.name-container .name {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--primary-color);
}

.name-container span {
  top: -1rem;
}

.name-container .job-title {
  font-size: 1.5rem;
}

.circle-container img {
  width: 100%;
  max-width: 12rem;
  max-height: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 60rem;
}

.page-title {
  color: white;
}

.centered-text {
  text-align: center;
}

.badge-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.badge {
  margin: 1rem;
  min-height: 4rem;
  min-width: 4rem;
  max-height: 4rem;
  max-width: 4rem;
  border-radius: 30%;
  color: white;
  background-color: var(--secondary-color);
}

.badge img {
  margin-top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -0.25rem;
  filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(62deg) brightness(99%) contrast(105%);
}

.badge span {
  font-size: 0.75rem;
}

a:visited, a:link {
  text-decoration: none;
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

nav {
  z-index: 999;
  background-color: var(--bg-dark);
  padding: 1rem;
  border-bottom: 3px solid var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%
}

nav>span>ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

nav>span>ul>li {
  margin-right: 2rem;
}

nav>span>ul>li>a:hover {
  color: var(--primary-color);
}

nav a:visited, nav a:link {
  color: white;
}

nav>span>ul>li .active-link {
  color: var(--primary-color);
  font-weight: bold;
}

.banner {
  overflow: hidden;
  height: 38rem;
}

.banner img {
  height: auto;
  width: 100%;
  top: -9rem;
  position: relative;
}

.clear-nav {
    padding-top: 6rem;
}

section {
  margin-bottom: 2rem;
}

.app-image {
  width: auto;
  max-height: 15rem;
  max-width: 30rem;
}

.contact-link {
  height: 1.8rem
}

.contact-link img {
  width: 0.8rem;
}

.contact-card {
  font-family: Karla;
}

.education-line {
  padding-left: 1rem;
  padding-right: 1rem;
}

.education-line {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.education-line span {
  min-width: 16rem;
}

article {
  line-height: 1.5rem;
}

.work-section {
  margin: 2rem 0;
}

.work-section .work-info {
  display: flex;
  flex-direction: row;
}

.work-section .work-info img {
  height: 8rem;
  width: 8rem;
  margin-right: 1rem;
}

.work-section .work-info-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.city {
  color: rgb(62, 60, 60);
}

.page-footer {
  background-color: var(--bg-dark);
  color: white;
  font-size: larger;
  min-height: 5rem;
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .banner {
    overflow: hidden;
    height: 20rem;
  }

  .banner img {
    top: 4rem;
  }

  nav>span>ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  body {
    align-self: center;
  }

  main {
    padding: 1.75rem;
  }

  .work-summary {
    border-bottom: 1px solid grey;
  }
}

@media screen and (min-width: 600px) {
  body {
    align-self: center;
  }

  main {
    padding: 2rem;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
   }

   .circle-container img {
    height: 10rem;
    width: 10rem;
  }

   .education-line {
    display: flex;
    flex-direction: row;
  }

  .education-line strong {
    min-width: 16rem;
  }

  .summary-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  article {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .work-section {
    top: 0;
    display: flex;
  }

  .work-section .work-info {
    display: flex;
    flex-direction: column;
    min-width: 11rem;
  }

  .work-section .work-info img {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
  }

  .work-summary {
    border-left: 1px solid grey;
    padding-left: 1rem;
  }

  #app-gallery {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  .app-section {
    margin-right: 2rem;
    max-width: 25rem;
  }
}