@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Merriweather Sans", serif;
  letter-spacing: 0.05rem;
}

body {
  height: 100%;
}

p {
  padding-bottom: 0.5rem;
}

:root {
  --primary-color: #e31b6d;
  --secondary-color: #04c2c9;
  --bg-dark: #1b242f;
}

header {
  background-color: rgb(40, 40, 40);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

header nav a {
  padding: 10px 10px;
  align-items: left;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

header nav a:hover,
header nav a.active {
  transition: 0.5s ease-out;
  font-size: 1.2rem;
  background: -webkit-linear-gradient(left, #e31b6d, #e31b6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
}

.about-text,
.contact-us-text {
  color: white;
}

.bio-video {
  height: auto;
  width: 100%;
}

section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section,
#portfolio {
  /* room for the fixed menu */
  padding-top: 8rem;
}

section:nth-child(2) {
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-color: #2c2c2f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25rem;
}

section:nth-child(3) {
  background: -webkit-linear-gradient(left, #e31b6d, #e31b6d);
}
section:nth-child(4) {
  background-image: linear-gradient(180deg, white 0%, white 100%);
}

section:nth-child(5) {
  background-image: linear-gradient(180deg, #575758 0%, #2c2c2f 100%);
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.title-about,
.title-meet-devs,
.title-portfolio,
.title-contact-us {
  text-align: center;
  font-size: 3rem;
  color: #e31b6d;
}

.name {
  font-size: 2rem;
}

.title-portfolio {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:visited,
a:link {
  text-decoration: none;
}

.contact-link {
  height: 1.8rem;
}

.contact-link img {
  width: 2rem;
  height: auto;
  padding: 1rem 1rem 0 0;
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0.4rem 1rem 0.4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: 2px white solid;
  color: white;
  background-color: var(--bg-dark);
}

.badge img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(62deg) brightness(99%)
    contrast(105%);
}

.badge span {
  font-size: 0.6rem;
}

a {
  color: var(--primary-color);
}

a:visited,
a:link {
  text-decoration: none;
}

.centered-text {
  text-align: center;
}

.summary-block,
.about-text {
  padding: 1rem;
}

.work-summary {
  border-bottom: 1px solid grey;
}

.icons li {
  display: inline;
}
.icons {
  margin-bottom: 0.5rem;
}

.slide {
  position: relative;
}

.page-footer {
  background-color: rgb(40, 40, 40);
  color: --primary-color;
  font-size: larger;
  padding: 1.5rem;
}

.page-title {
  color: white;
}

.contact-us {
  text-align: center;
}

.email {
  color: white;
}

.slider {
  width: 100%;
  height: auto;
}

.buttons {
  display: none;
}

.slide-container {
  width: 100%;
  height: 1120px;
}

.slide-1 {
  background-image: url("./images/Slide1.png");
}

.slide-2 {
  background-image: url("./images/Slide3.png");
}

.slide-3 {
  background-image: url("./images/Slide2.png");
}

.slide-4 {
  background-image: url("./images/Slide4.png");
}

.slide {
  height: 280px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-left {
  text-align: left;
  position: absolute;
  top: 7px;
  left: 2px;
  padding: 0 1rem 0 1rem;
}

.top-left .navika-title {
  color: rgb(40, 80, 118);
  font-size: 1.2rem;
}

.top-left p {
  font-size: 1rem;
}

.stores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 8rem;
}

.stores img {
  width: 3.5rem;
}

.top-left .handrills-title {
  color: rgb(170, 44, 86);
  font-size: 1rem;
}
.top-left .nareru-title {
  color: rgb(255, 94, 41);
  font-size: 1rem;
}

.bottom-left {
  font-size: 0.5rem;
  position: absolute;
  bottom: 85px;
  left: 38px;
  color: white;
}

/* End of general */

/* Big screens below */
@media screen and (min-width: 800px) {
  section,
  #portfolio {
    /* room for the fixed menu */
    padding-top: 3rem;
  }

  section:nth-child(2) {
    background-size: 70rem;
  }

  .about-text {
    padding: 1rem 4rem;
  }

  .wrapper-bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 3rem;
  }

  .bio-video {
    height: 35rem;
    width: auto;
  }

  .wrapper-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
  }

  .name {
    font-size: 1.6rem;
  }
  /* Slide */
  .slider {
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

  .slide-container {
    width: 4000px;
    height: 620px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }

  .slide {
    max-width: 1000px;
    width: 100%;
    height: 100%;
  }

  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }

  #slide-1:target ~ .slide-container {
    left: 0px;
  }

  #slide-2:target ~ .slide-container {
    left: -1000px;
  }

  #slide-3:target ~ .slide-container {
    left: -2000px;
  }

  #slide-4:target ~ .slide-container {
    left: -3000px;
  }

  .top-left {
    top: 60px;
    left: 16px;
  }

  .top-left .navika-title {
    font-size: 3rem;
  }

  .top-left .handrills-title {
    font-size: 3rem;
  }
  .top-left .nareru-title {
    font-size: 3rem;
  }

  .top-left p {
    font-size: 1rem;
  }

  .bottom-left {
    text-align: left;
    bottom: 200px;
    left: 85px;
    font-size: 1.3rem;
  }

  .stores {
    width: 18rem;
  }

  .stores img {
    width: 8rem;
  }

  .buttons {
    display: inherit;
    position: relative;
    top: -40px;
  }

  .buttons a img {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: 0 0.5rem 0 0.5rem;
    border: 2px solid white;
  }
}
